
$primary-color: #f26460;
$bgr-bd-color: #e1e1e1;
$black-text-color:#111111;
$grey-text-color: #888888;

@mixin  font4($fsize, $fweight, $lineheight, $letterspaceing) {
  font-size: $fsize;
  font-weight: $fweight;
  line-height: $lineheight;
  letter-spacing: $letterspaceing;
}

@mixin  font2($fsize, $fweight) {
  font-size: $fsize;
  font-weight: $fweight;
}

@mixin  font($fsize, $fweight, $color) {
  font-size: $fsize;
  font-weight: $fweight;
  color: $color;
}


@mixin absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

@mixin position($direction: "both") {
  position: absolute;

  @if $direction == "both" {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }

  @if $direction == "left" {
    left: 50%;
    transform: translateX(-50%);
  }

  @if $direction == "top" {
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin flexc() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexb() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin wh($width,$height) {
  width: $width;
  height: $height;
}

.footer-a{
  @include flexc();
 
}

.footer__content{
  width: 1170px;
}

.footer__contact{
  @include flexb();
  flex:1;
  flex-wrap: wrap;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px solid $bgr-bd-color;

  h1{
    @include font2(46px, 600 );
    color: black;
    position: relative;
    transition: all 0.3s ease-in-out 0s;

    &::before{
      content: ".";
      color: $primary-color;
      position: absolute;
      bottom: 29px;
      left: 42.5px;
    }

    &:hover{
      color: $primary-color;
      cursor: pointer;
      transition-delay: 0s, 0s, 0.3s;
      &::before{
        color: red;
      }
    }

  }

  &>div:nth-child(2){
    @include flexb();
  }
  
  form{
    @include flexb();
    flex-wrap: wrap;
    width: 500px;
    label{
      @include font2(16px, 500);
      color: $black-text-color;
    }
    &>div{
      display: flex;

      input{
        @include font2(13px, 500 );
        line-height: 34px;
        width: 255px;
        height: 46px;
        padding-left: 20px;
        border: 1px solid $bgr-bd-color;
        outline: none;
        &:focus, &:active{
          outline: none;
        }    
      }
    }
    .icon-ariplane{
      @include wh(46px,46px);
      background-color: black;
      @include flexc();
      cursor: pointer;
      i{
        color: white;            
      }

      &:hover{
        background-color: $primary-color;
        i{
          color: white;
        }
      }

    }
  }

  &>div:last-child{
    @include flexb();
    width: 210px;
    &>a{
      @include wh(45px, 45px);
      border: 1px solid $bgr-bd-color;
      border-radius: 100%;
      @include flexc();

      &:hover{
        text-decoration: none;
        background-color: #f26460;
        i{
          color: white;
        }
      }
    }

    i{
      color: black;
    }
  }
}
@media (max-width:1190px)
{
  .footer__content {
    margin-left: 20px;
  }
  .footer__content {
    margin-right: 20px;
  }
}
@media (max-width:926px)
{
  .footer__contact>div{
    width: 100%;
    margin: 15px auto;
    // text-align: center;
  }
  .footer__contact>div:first-child, .footer__contact>div:nth-child(2){
    display: flex;
    justify-content: center;
  }
}

@media(max-width:540px){
  #sub-newsletter{
    width: 100%;
    @include flexc();
  }
  .form-sub>div{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media(max-width:510px){
  .footer__contact{
    width: 95vw;
  }
}

.footer-detail{
  padding-top: 50px;
  padding-bottom: 40px;
  @include flexb();
  align-items: flex-start;
  flex-wrap: wrap;
  &>div:first-child{
    max-width: 288px;
  }
  &>div:last-child{
    max-width: 300px;
  }

  &>div>div{
    @include font2(16px, 600 );
    line-height: 24px;
    color: $black-text-color;
  }

  img{
    cursor: pointer;
  }

}
.list-contact{
  li>span:first-child{
    @include font2(14px, 400 );
    line-height: 36px;
    color: $grey-text-color;
  }
  li>span:last-child{
    @include font2(14px, 400 );
    line-height: 24px;
    color: $black-text-color;
  }
}

.list-account, .list-information{
  a{
    @include font2(14px, 400 );
    line-height: 34px;
    color: $grey-text-color;
    text-decoration: none;
    position: relative;
    transition: all ease-in-out 0.2s;
    &::after{
      content: " ";
      background-color: $primary-color;
      opacity: 0;
      width: 120%;
      height: 10px;
      bottom: 0;
      left: -10%;
      position: absolute;
      transition: all ease-in-out 0.2s;
    }

    &:hover{
      color: $black-text-color;
      // transform: scale(1.1);
      &::after{
        opacity: 0.2;
      }
    }
  }
}


.footer-detail{
  &>div:last-child{
    p{
      @include font2(14px, 400 );
      line-height: 25px;
      color: $grey-text-color;
      margin-top: 25px;
    }
  }

  ul{
    margin-top: 20px;
  }
}
.logo-payment{
  width: 265px;
  @include flexb();
  margin-top: 20px;
}


@media (max-width:980px){
  .footer-detail>div:last-child{
    width: 100% !important;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    .logo-payment{
      width: 100%;
    }
  }
}

@media (max-width:670px){
  .footer-detail>div:nth-child(2), .footer-detail>div:nth-child(3){
    width: 100% !important;
    margin-top: 40px;
    text-align: center;
  }
}

@media (max-width:680px){
  .footer-detail>div:nth-child(1){
    width: 100% !important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}


.footer-copyright{
  display: flex;
  justify-content: center;
  background-color: $bgr-bd-color;
  &>div{
    @include flexb();
    flex-wrap: wrap;
    @include font2(14px,400 );
    color: $grey-text-color;
    line-height: 30px;
    width: 1170px;
    height: 50px;    
  }
  a{
    color: $grey-text-color;
    &:hover{
      text-decoration: none;
      color: $primary-color;
    }
  }
}

@media (max-width: 1190px){
  .footer-copyright>div{
    margin: 0 20px;
  }
}


@media (max-width: 610px){
  .footer-copyright{
    height: 70px;
  }
  .footer-copyright>div>div{
    text-align: center;
    // width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}