*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

*::selection {
  color: white;
  background-color: #f26460;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: normal;
  font-family: 'Spartan', sans-serif;;
}
html,body{
  margin:0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

i:hover{
  cursor: pointer;
}