@{
    ViewBag.Title = "Trang quản trị";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Areas/Admin/Content/css/Admin.css" />
</head>
<body>
    <div class="container-fluid">
        <!-- Sidebar -->
        <div class="row">
            <div class="col-md-2">
                @RenderPage("~/Areas/Admin/Views/Shared/_Sidebar.cshtml")
            </div>
            <!-- Main Content -->
            <div class="col-md-10">
                @RenderPage("~/Areas/Admin/Views/Shared/_Navbar.cshtml")
                <main role="main" class="pt-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>