<div class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "HomeAdmin")">Trang chủ Admin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Category")">Quản trị Danh mục</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Article")">Quản trị Bài viết</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "User")">Quản trị người dùng</a>
        </li>
    </ul>
</div>