@model Magazine.Models.User

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Xóa người dùng</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Username</dt>
        <dd>@Html.DisplayFor(model => model.Username)</dd>

        <dt>Email</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>